<svg>
  <defs>
    <filter id="gooeyness">
      <feGaussianBlur in="SourceGraphic" stdDeviation="2.2" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness" />
      <feComposite in="SourceGraphic" in2="gooeyness" operator="atop" />
    </filter>
  </defs>
</svg>
<nav *ngIf="featureService.navBarVisible">
  <div class="logo">
    <h4>
      Caf&Res
    </h4>
  </div>
  <ul class="nav-links">
    <li>
      <button>
        <a>
          Home
        </a>
      </button>
      <button>
        <a>
          Offers
        </a>
      </button>
      <button>
        <a>
          Locations
        </a>
      </button>
    </li>
  </ul>
  <button [style.display]="showState[1]" class="btn-log">
    <a routerLink="sign-in">
      <mat-icon>recent_actors</mat-icon>
    </a>
  </button>
  <button [style.display]="showState[0]" (click)="sidebar.style.width == '250px' ? sidebar.style.width = '0px' : sidebar.style.width = '250px'" class="btn-burger">
    <div class="plates">
      <div class="plate plate5" onclick="this.classList.toggle('active')">
        <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
          <path class="line line1" d="M 30,35 H 70 " />
          <path class="line line2" d="M 50,50 H 30 L 34,32" />
          <path class="line line3" d="M 50,50 H 70 L 66,68" />
          <path class="line line4" d="M 30,65 H 70 " />
        </svg>
        <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
          <path class="line" d="M 34,32 L 66,68" />
          <path class="line" d="M 66,32 L 34,68" />
        </svg>
      </div>
    </div>
  </button>
</nav>
<div #sidebar class="sidebar" [style.display]="showState[1]">
  <ul>
    <li><a href="#"><mat-icon>assignment_ind</mat-icon></a></li>
    <li><a href="#"><mat-icon>assignment_ind</mat-icon></a></li>
  </ul>
</div>