* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.listHide{
  animation: fadeOutAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOutAnimation{
  0% {
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.currPage {
  font-size: 72px;
  color: purple;
}

.flex {
    width: 50vw;
    height: 96px;
    line-height: 80px;
    background-color: #115466;
    color: white;
    position: flex;
    border-radius: 35px;
    margin-left: 26%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .flex ul {
    display: flex;
  }

  .pagElem {
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none;
  }

  .flex ul a {
    flex: 1;
    list-style: none;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none;
  }

  .pagElem:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(0.8);
    border-radius: 50px;
  }

  .flex ul a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(0.8);
    border-radius: 50px;
  }

  .flex ul p {
    font-size: 20px;
    user-select: none;
  }

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #115466;
}
  

.card {
    background: white;
    width: 270px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.3s ease-in;
}

.card:hover {
    background-color: #115466;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.card:hover .btn {
    color: white;
}

.card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-context {
    background-image: url('../../images/template_1.jpg');
}

.btn {
    border: 1px solid white;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    overflow: hidden;
    color: white;
    position:absolute;
    top: 80%;
    align-self: center;
    width: 80%;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}