.background1 {
    background: url(../../images/background3.gif);
    background-size: 100% 100%;
    width: 50%;
    height: 70%;
    position: absolute;
}

.demo-inline-calendar-card {
    width: 300px;
    background-color: #efefef;
}

.row {
    max-width: 325px;
    margin: 0 auto;
    padding: 30px 30px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-align: center;
}

.row span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
    color: white;
}

.basic-slide {
    display: inline-block;
    width: 280px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #aaa;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all 0.3s ease-in-out;
}

.basic-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.basic-slide + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    background: #669DB3FF;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.basic-slide:focus, .basic-slide:active {
    color: black;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.basic-slide:focus::-webkit-input-placeholder, .basic-slide:active::-webkit-input-placeholder {
    color: #aaa;
}

.basic-slide:focus + label, .basic-slide:active + label {
    transform: translateX(-100%);
}

::ng-deep .mat-calendar-body-label {
      display: none;
  }

  ::ng-deep .mat-calendar-header {
      color: #669DB3FF;
  }
  
  ::ng-deep :is(.mat-calendar-body-selected){
    background-color: #115466;
    color: #fff;
  }